@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=REM&family=Roboto&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=REM&family=Roboto&family=Roboto+Condensed:wght@300&display=swap');

/* Main Co-use */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

h2, h3, h4, p{
    font-family: "Roberto", sans-serif;
    color: #4A4A4A;
}

h2{
    font-size: 36px;
    font-weight: bold;
}

h3{
    font-size: 18px;
    font-weight: lighter;
}

h4{
    font-size: 14px;
    font-weight: lighter;
}

p{
    font-size: 12px;
    font-weight: lighter;
}

/* Top Menu Overall */ 

.top__menu{
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 100%;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background-color: #FFFFFF;
}

/* Top Menu Left */ 

.top__menu-left, 
.top__menu-leftwd{
    display: flex;
    align-items: center;
}

.logo01__img{
    height: 32px;
    padding-left: 24px;
}

.top__menu-leftwd01 p, 
.top__menu-leftwd02 p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.top__menu-leftwd01 p{
    font-weight: bold;
}

.top__menu-leftwd02 p{
    color: #9b9b9b;
}

/* Top Menu Right */ 

.top__menu-right,
.top__menu-rightlist{
    display: flex;
    align-items: center;
    gap: 16px; 
    list-style: none; 
    font-family: 'Roberto', sans-serif;
    font-size: 14px;
    color: #4A4A4A; 
    padding-right: 24px; 
}

/* Intro to Colmar Academy*/ 

header{ 
    display: flex;
    align-items: center;
    background-color: #D8D8D8;
}

.banner__image{
    width: 60%;
}

.banner__image-img{
    padding: 32px 24px; 
    width: 100%;
}

.main__section-word h3{
    margin-top: 24px;
    margin-bottom: 24px; 
}

.main__section-apply{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px; 
    background-color: #4A4A4A; 
}

.main__section-apply p{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: lighter;
}

/* Life in Colmar Academy Area */

.life__colmar-left{
    display: flex;
}

.life__image-leftcover{
    display: flex; 
    flex-direction: column;
    width: 60%;
    padding: 32px 24px;
    height: 100%;
}

.life__image-left{
    width: 100%;
}

.life__word-left h2{
    padding-top: 32px; 
    padding-bottom: 24px;
}

.life__word-left p{
    color: #555555;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: lighter;
    padding-top: 24px; 
}

.life__colmar-right{
    display: flex;
    flex-direction: column;  
}

.life__image-right01,
.life__image-right02,
.life__image-right03{
    width: 35%;
}

.life__image-rightcover01, 
.life__image-rightcover02,
.life__image-rightcover03{
    display: flex;
    align-items: center;
    width: 40;
    padding-left: 16px; 
}  

.life__image-rightcover01{
    padding-top: 32px;
    padding-bottom: 16px;
}

.life__image-rightcover02,
.life__image-rightcover03{
    padding-top: 16px;
    padding-bottom: 16px;  
}

.life__word-right01,
.life__word-right02,
.life__word-right03{
    align-items: center;
    padding-left: 16px;
} 

.life__word-right01 h4, 
.life__word-right02 h4,
.life__word-right03 h4{
    padding: 8px 0px;  
}
.life__word-right01 p,
.life__word-right02 p,
.life__word-right03 p{
    font-family: 'Roberto', sans-serif;
    font-size: 14px;
    color: #5798e4; 
}

/* Study Fields Area */
.study_field-all{
    background-color: #D8D8D8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.study_field-all h2{
    padding: 32px 0px;  
    text-align: center;
}

.study_field-1st,
.study_field-2nd{
    display: flex;
}

.study_field-SoftEngImg,
.study_field-ComArtImg,
.study_field-DesignImg,
.study_field-DataImg,
.study_field-BusinessImg,
.study_field-MarketingImg{
    width: 100%;
    display: block;
    object-fit: cover;
}

.study_field-SoftEng,
.study_field-ComArt,
.study_field-Design,
.study_field-Data,
.study_field-Business,
.study_field-Marketing{
    background-color: #ffffff;
    width: auto;
    height: 100%;
} 

.study_field-SoftEngCard{
    padding-left: 72px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.study_field-DataCard{
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
    padding-left: 72px;
}

.study_field-ComArtCard{
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.study_field-BusinessCard{
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
    padding-left: 16px;
}

.study_field-DesignCard{
    padding-left: 16px;
    padding-right: 72px;
    padding-bottom: 16px;
}

.study_field-MarketingCard{
    padding-top: 16px;
    padding-right: 72px;
    padding-bottom: 32px;
    padding-left: 16px;
}

.field__word-SoftEng h3,
.field__word-ComArt h3,
.field__word-Design h3,
.field__word-Data h3,
.field__word-Business h3,
.field__word-Marketing h3{
    padding-top: 16px;
    padding-left: 16px; 
    padding-bottom: 8px;  
}

.field__word-SoftEng h4,
.field__word-ComArt h4,
.field__word-Design h4,
.field__word-Data h4,
.field__word-Business h4,
.field__word-Marketing h4{
    padding-left: 16px;
    padding-bottom: 8px;  
}

.field__word-SoftEng p,
.field__word-ComArt p,
.field__word-Design p,
.field__word-Data p,
.field__word-Business p,
.field__word-Marketing p{
    padding-left: 16px;
    padding-bottom: 24px;
    color: #555555;
    font-family: 'Roboto', sans-serif;
}

/* Footer Area */
.copyright__cover{
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background-color: #FFFFFF;
}

.copyright__coverleft{
    display: flex;
    padding-top: 16px;
    padding-left: 24px; 
}

.copyright__coverright{
    display: flex;
    padding-top: 16px;
    padding-right: 24px;
}

.bottom__menu-rightlist{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 16px;
    font-size: 12px;
    color: #4A4A4A;
    font-family: 'Roberto', sans-serif;
    font-weight: lighter;
}